<%- include('section-header', { title: label, jsonFile: jsonFile }) %>

<% data.forEach((process, index) => { %>
  <div class="diagram-container">
    <h3><%= process.name %> process</h3>
    <p><%= process.description %></p>
    
    <div class="flowchart-svg">
      <%- flowchartSvgs[index] %>
    </div>
    
    <!-- Activity details -->
    <% if (process.keyBusinessActivities && process.keyBusinessActivities.length > 0) { %>
      <div class="activity-details">
        <h4>Process Activities:</h4>
        <ul class="activity-list">
          <% process.keyBusinessActivities.forEach(activity => { %>
            <li class="activity-item">
              <strong><%= activity.activity %></strong>
              <span class="activity-description"><%= activity.description %></span>
            </li>
          <% }); %>
        </ul>
      </div>
    <% } %>
  </div>
<% }); %>

