<% if (viewModel.hasData()) { %>
  <p><table>
    <thead>
      <tr>
        <% 
          const headers = viewModel.getDisplayHeaders();
          const columnClasses = viewModel.getColumnClasses();
          const rows = viewModel.getProcessedRows();
        %>
        <% headers.forEach((header, index) => { %>
          <th class="<%= columnClasses[index] %>"><%= header %></th>
        <% }); %>
      </tr>
    </thead>
    <tbody>
      <% rows.forEach(row => { %>
        <tr>
          <% row.forEach((cell, columnIndex) => { %>
            <% const columnClass = columnClasses[columnIndex]; %>
            <% if (cell.type === 'link') { %>
              <td class="<%= columnClass %>"><a href="<%= cell.content %>" target="_blank">Link</a></td>
            <% } else if (cell.type === 'code') { %>
              <td class="<%= columnClass %>"><pre><code><%- cell.content %></code></pre></td>
            <% } else if (cell.type === 'list') { %>
              <td class="<%= columnClass %>">
                <ul>
                  <% cell.content.forEach(item => { %>
                    <% if (item.type === 'object') { %>
                      <li>
                        <% const keys = Object.keys(item.content); %>
                        <% keys.forEach((key, index) => { %>
                          <% if (index > 0) { %> | <% } %>
                          <strong><%= key %>:</strong> <%- item.content[key] %>
                        <% }); %>
                      </li>
                    <% } else { %>
                      <li><%- item.content %></li>
                    <% } %>
                  <% }); %>
                </ul>
              </td>
            <% } else { %>
              <td class="<%= columnClass %>"><%- cell.content %></td>
            <% } %>
          <% }); %>
        </tr>
      <% }); %>
    </tbody>
  </table></p>
<% } else { %>
  <p>None Found</p>
<% } %> 